asgiref==3.5.2
aspectlib==1.5.2
autopep8==1.6.0
Django==3.2.14
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-model-utils==4.2.0
django-phonenumber-field==6.3.0
django-timestampable==1.0.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
fields==5.0.0
gunicorn==20.1.0
phonenumberslite==8.12.51
Pillow==9.2.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
PyJWT==2.4.0
python-dotenv==0.20.0
pytz==2022.1
sqlparse==0.4.2
toml==0.10.2
